<div class="intro">
  <h1 class="text-center">Node.js Application Architecture</h1>
  <p class="text-center">Wednesday, November 12 2014 (6:30pm - 9:30pm)</p>
  <p class="text-center">2600 Michelson Dr. 12th Floor, Irvine, CA</p>
  <p class="text-center">Presented by Farsheed Atef</p>
  <p class="text-center"><a href="http://www.meetup.com/Node-JS-OC/events/212505562/" class="btn btn-lg btn-default">RSVP</a></p>
</div>

<div class="container container-xs" style="padding: 100px 10px;">
  <p>This month we're starting our meetup series on Node.js in production!</p>

  <p>This month's speaker is processing millions of transactions every day with Node.js. Join us while Farsheed shares his insights on building battle-tested architectures for Node.js in production.</p>

  <hr class="padding">

  <h3><a href="https://twitter.com/captainatef" target="_blank">Farsheed Atef - CTO/Co-Founder Drumbi</a></h3>

  <blockquote>
    <p>Today’s api driven, realtime applications require a different architecture and a set of new tools to support the architecture.</p>

    <p>Node.js is at the center of such tools and along with supporting software, enables us to support millions of realtime connections with inexpensive hardware.</p>

    <p>In this presentation I will take you through a journey that shows you how you can create highly scalable applications using a simplified but distributed application architecture.</p>

    <p>I will also show you why companies like eBay, PayPal, Yahoo and Walmart have adopted node.js and the efficiencies they have been able to gain.</p>
  </blockquote>
</div>

<div ng-repeat="event in events" class="container-fluid event" style="background-image: url('images/events/{{event.photo || 'na.png'}}');">
  <div class="eventBody" ng-repeat="topic in event.topics">
    <h2>{{topic.title}}</h2>
    <h3>{{topic.speaker.name}} - {{event.date}}</h3>
    <p ng-if="topic.media" class="play"><a href="" ng-click="loadMedia(topic.media);"><span class="glyphicon glyphicon-play-circle"></span></a></p>
  </div>
</div>

<div class="container-fluid event" style="background-color: #000;">
  <div class="eventBody">
    <p class="text-center"><a href="http://www.meetup.com/Node-JS-OC/events/212505562/" class="btn btn-lg btn-default">RSVP for our next meetup</a></p>
  </div>
</div>

<div class="footer">
  <div class="container">
    &copy; 2014 jsoc.io | <a href="https://twitter.com/javascriptoc" target="_blank">Twitter</a> | <a href="https://github.com/javascriptoc" target="_blank">GitHub</a> | <a href="https://gitter.im/javascriptoc/jsoc.io" target="_blank">Chat</a>
  </div>
</div>

<div ng-if="mediaHash" class="box-video" style="display: block;"><iframe ng-src="{{mediaHash}}" frameborder="0" allowfullscreen></iframe>
    <p class="close-video"><a href="" ng-click="closeMedia()"><span class="glyphicon glyphicon-remove-circle" style="text-shadow: 1px 1px black; padding: 1px;"></span></a></p>
</div>