header
  
#content
    != partial("_event", public._data.current)
  

footer
  
  ul
    li.twitter 
     a(href="https://twitter.com/javascriptoc") Twitter
    li.github
      a(href="https://github.com/javascriptoc") Github
    li.colophon
      a(href="/colophon") Colophon

