.topic
  margin-bottom: 20px
  
  h1
    margin-bottom: 10px

  .description
    white-space: pre-wrap
    

  .react-slides iframe
    margin-top: 1em
    width: 700px
    height: 390px;
    max-width: 100%
    @include aspect-ratio('16:9')
  
  .video-frame iframe
    margin-top: 1em
    width: 700px
    height: 390px;
    max-width: 100%
    @include aspect-ratio('16:9')
